.containersus2{
    width: 100%;
    min-height: 100vh;
    background: #fff;
}
.containersus2 h2{
    color: #000;
    font-size: 32px;
    padding: 50px 0;
    text-align: center;
}
    


.price2-row{
    width: 45%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}
.price2-col{
    background: #171819;
    padding: 10% 15%;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}
.price2-col p{
    font-size: 22px;
    color: #fff;
}
.price2-col h3{
    font-size: 44px;
    margin: 20px 0 40px;
    font-weight: 500;
    text-align: left;
}
.price2-col h3 span{
    font-size: 16px;
}
.price2-col ul{
    text-align: left;
    margin: 20px 0;
    color: #06C7EE;
    list-style: none;
}
.price2-col ul li{
    margin: 15px 0;
    
}
.price2-col ul ::before{
    content: '\2022';
    color: #fff;
    font-weight: bold;
    margin-right: 4px;
    
}
.price2-col button{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: #fff;
    font-size: 15px;
    border: 1px solid #06C7EE;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;
}
.price2-col button:hover{
    background: #06C7EE;

}

.price2-col p{
    text-align: left;
    margin: 20px 0;
    color: #06C7EE;
}

